.navigation {
  list-style: none;
}
.linkBox {
  display: flex;
  padding: 2rem 1.5rem;
  box-sizing: border-box;
  width: 100%;
}
.link--icon {
  font-size: 2rem;
  color: rgb(76, 102, 158);
  margin-right: 2.4rem;
  margin-top: 0.3rem;
}
.link--url {
  font-size: 2rem;
  text-transform: capitalize;
  letter-spacing: 0.15rem;
  color: rgba(76, 102, 150, 0.8);
  text-decoration: none;
}
li:hover {
  transition: all 0.5s ease;
  background-color: rgba(218, 218, 221, 0.5);
}
